body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  
  .info p {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .info p strong {
    font-weight: normal;
    color: #666;
    display: inline-block;
    width: 100px;
  }
  